* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 12px;
    line-height: 1.6;
    color: #212121
}

body {
    margin: 0 auto;
    width: 120rem;
    /*font-family:'HelveticaNeue';*/
    /*font-family: 'Maven Pro', sans-serif;*/
    font-family: 'Jura', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    text-decoration: none;
    color: #2196F3;
    text-decoration: initial;
}

::selection {
    background: #bdbdbd;
}

.preview-box {
    margin-top: 6rem;
    margin-bottom: 6rem;
    overflow: hidden
}

.body--share {
    height: 100%;
    overflow: hidden
}

.body--share .preview-box {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.body--markup {
    background: #e4eaf0;
    margin: 0 auto;
    width: calc(120rem + 70px);
    padding: 35px
}

.body--markup .preview-box {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background: white;
    padding-top: 6rem;
    padding-bottom: 6rem
}

.container {
    position: relative;
    display: block;
    max-width: 120rem;
    font-size: 1.7rem;
    /*padding: 0rem 29rem 0rem 9rem*/
    padding: 0rem 31rem 0rem 4rem;
}

.main {
    width: 100%;
    padding-right: 4rem
}

.aside {
    position: absolute;
    top: 0rem;
    right: 0;
    /*width: 29rem;*/
    width: 31rem;
    padding: 0 7.5rem 0 0
}

.personal-info-block {
    width: 100%;
    display: block;
    margin-bottom: 4rem
}

.personal-info-block:after {
    content: "";
    display: table;
    clear: both
}

.personal-info-block .image-block img {
    width: 13rem;
    height: 13rem;
    border-radius: 0.5rem;
    margin-left: 5rem;
    margin-right: 4.5rem;
    background: #bdbdbd;
    background-size: cover;
    float: left
}

.personal-info-block .text-block {
    float: left
}

.personal-info-block .name {
    font-size: 4rem;
    margin-bottom: 0.8rem;
    white-space: nowrap;
}

.personal-info-block .current-position {
    font-size: 2.6rem;
    margin-bottom: 2.4rem
}

.personal-info-block .contacts {
    color: #9e9e9e;
    font-weight: 400;
    font-size: 1.5rem
}

.personal-info-block .contacts:after {
    content: "";
    display: table;
    clear: both
}

.personal-info-block .city {
    text-transform: uppercase;
    margin-right: 2rem;
    padding-left: 2.4rem;
    position: relative;
    float: left;
    white-space: nowrap;
    font-size: 1.7rem
}

.personal-info-block .phone-number {
    padding-left: 2rem;
    border-left: 0.15rem solid #9e9e9e;
    white-space: nowrap;
    float: left
}

.experience-group .group-title {
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6em;
    padding-bottom: 1.8rem;
    /*padding-left: 5rem;*/
    page-break-inside: avoid;
    page-break-after: avoid
}

.experience-group .group-title i {
    margin-right: 1rem;
}

.experience-group .experience-item {
    clear: both;
    padding-left: 3.8rem;
    margin-left: 1.7rem;
    border-left: 0.15rem dotted #bdbdbd;
    margin-bottom: 3.2rem;
}

.experience-group .item-title {
    font-size: 2.2rem;
    margin-bottom: 0.4rem
}

.experience-group .item-title--references-upon {
    font-size: 1.9rem;
    color: #9e9e9e
}

.experience-group .item-caption {
    font-size: 1.9rem;
    margin-bottom: 1.6rem
}

.experience-group .item-description {
    line-height: 1.4;
    font-size: 1.8rem;
    color: #424242;
    font-weight: 400
}

.experience-group .item-description b {
    font-weight: 700
}

.experience-group .item-description i {
    font-weight: 500
}

.experience-group .item-description ul, .experience-group .item-description ol {
    margin: 0.6rem 0;
    list-style-position: outside;
    padding-left: 5rem
}

.experience-group .item-description span {
    text-decoration: underline
}

.aside-group {
    /*padding-left: 3rem;*/
    clear: both
}

.aside-group .title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-left: -1.3rem;
    position: relative
}

.aside-group .title i {
    margin-right: 0.8rem;
}

.aside-group .section {
    margin-bottom: 3.2rem;
    padding-left: 3rem;
    border-left: 0.15rem dotted #bdbdbd;
}

.aside-group .label {
    font-size: 1.6rem;
    font-weight: 400;
    color: #9e9e9e;
    margin-bottom: 0.8rem
}

.aside-group .text {
    font-size: 1.7rem;
    line-height: 1.5
}

.aside-group .social-profile {
    margin-bottom: 1rem
}

.aside-group .progress {
    width: 100%;
    height: 0.4rem;
    background: #eeeeee;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem
}

.aside-group .progress .progress-inner {
    width: 0%;
    height: 100%
}

.setting--primary-background {
    background-color: #2196F3;
}

.setting--primary-text {
    color: #2196F3;
}

.setting--secondary-text {
    color: gray;
}

.download-link {
    margin-bottom: 3rem;
    display: block;
    background-color: #2196F3;
    padding: 7px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.download-link:hover {
    background-color: #b1b1b0;
}



.pdf-version .aside-group-download {
    display: none;
}

/*.pdf-version .container {
    padding: 0rem 31rem 0rem 4rem;
}

.pdf-version .aside {
    width: 31rem;
}*/


.pdf-version .social-profile a span {
    display: none;
}

.pdf-version .social-profile a:after {
    content: attr(href);
}
